.MenuGroup
{
	cursor: pointer;
	cursor: hand;
	background-color: #F1F1F1;
	width: 120px;
}
.MainItem 
{
	height:22px;
	cursor: pointer;
	cursor: hand;
	font-size: 11px;
	font-family: Arial, Verdana;
	color: #000000;
	width: 120px;
	text-align: center; 
	margin: 1px 0px 3px 0px;
}
.MainItemOver
{
	height:26px;
	cursor: pointer;
	cursor: hand;
	font-weight: bold;
	font-size: 11px;
	font-family: Arial, Verdana;
	color: #000000;
	border-bottom: 3px solid #FF3636;
	border-top: 2px outset #B8B8B8;
	width: 120px;
	text-align: center;
	background-color: #A0A0A0;
}
.MenuItem
{
	font-family: Arial, Verdana;
	font-size:11px;
	cursor: pointer;
	cursor: hand;
	background-image: url(../Img/arrow.gif);
	background-repeat: no-repeat;
	background-position : 7px center;
	border: 1px solid #D1D1D1;
	border-top: 1px solid white;
}
.MenuItem TD
{
	padding: 6px 0px 6px 7px;
}
.MenuItemOver
{
	font-family: Arial, Verdana;
	font-size:11px;
	cursor: pointer;
	cursor: hand;
	background-image: url(../Img/arrow.gif);
	background-repeat: no-repeat;
	background-position : 7px center;
	border: 1px solid #D1D1D1;
	border-top: 1px solid white;
	border-bottom: 1px solid #EF2626;
	background-color: #FAFAFA;
}
.MenuItemOver TD
{
	padding: 6px 0px 6px 7px;
}
.MenuItemToolTip
{
	background-color: #fffacd;
	border-style:solid;
	border-width:1px;
	border-color: black; 
	font-family: Arial;	
	padding: 3px;
	font-size:8pt;
	text-align: left;
}

.MenuItemClicked
{
	cursor: pointer;
	cursor: hand;
	padding: 1px;
	background-color: #F4F4F4;
}