.MenuGroup
{
	cursor: pointer;
	cursor: hand;
	border:1px solid #ACA899;
	background-color:#FFFFFF;
}

.MenuItem
{
	font-family: Arial, Verdana;
	font-size:12px;
	cursor: pointer;
	cursor: hand;
	padding:4px 0px 3px 0px;
	text-align: left;
}
.MenuItemOver, .MenuItemClicked
{
	font-family: Arial, Verdana;
	font-size:12px;
	color:#FFFFFF;
	cursor: pointer;
	cursor: hand;
	background-color:#0A246A;
	padding:4px 0px 3px 0px;
	text-align: left;
}

.MenuItemToolTip
{
	background-color: #fffacd;
	border-style:solid;
	border-width:1px;
	border-color: black; 
	font-family: Arial;	
	padding: 3px;
	font-size:8pt;
	text-align: left;
}

.Separator
{
	border-bottom:1px solid #ACA899;
	height:1px;
	margin-left:3px;
	border-right:3px solid white;
	width:100%;
}

.Spacer
{
	background-color: Transparent; 
}