/* telerik r.a.d.panelbar Mac skin */
.panelbarHeaderCollapsed
{ 		
	border-left: solid 1px #d0d0d0;
	border-top: solid 1px #d0d0d0;
	border-right: solid 1px #a7a7a7;
	border-bottom: solid 1px #a7a7a7;
	font-size: 11px; 
	color: #6f7376;
	font-familly: Arial,Verdana;
	font-weight: bold;
	cursor: hand;
	cursor: pointer;
	background-image: url(../Img/HeaderCollapsedBg.gif);
	background-repeat: no-repeat;
	height: 17px;
	width: 210px;
	padding-left: 21px;
}

.panelbarHeaderHover 
{ 		
	border-left: solid 1px #d0d0d0;
	border-top: solid 1px #d0d0d0;
	border-right: solid 1px #a7a7a7;
	border-bottom: solid 1px #a7a7a7;
	font-size: 11px; 
	color: #6f7376;
	font-familly: Arial,Verdana;
	font-weight: bold;
	cursor: hand;
	cursor: pointer;
	background-image: url(../Img/HeaderCollapsedBg.gif);
	background-repeat: no-repeat;
	height: 17px;
	width: 210px;
	padding-left: 21px;
}

.panelbarHeaderExpand
{
	border-left: solid 1px #d0d0d0;
	border-top: solid 1px #d0d0d0;
	border-right: solid 1px #a7a7a7;
	border-bottom: solid 1px #a7a7a7;
	font-size: 11px; 
	color: #6f7376;
	font-familly: Arial,Verdana;
	font-weight: bold;
	cursor: hand;
	cursor: pointer;
	background-image: url(../Img/ExpandBg.gif);
	background-repeat: no-repeat;
	height: 17px;
	width: 210px;
	padding-left: 21px;
}

.panelbarItem 
{
	font-size: 11px; 
	color: #6f7376;
	width: 210px;
	font-familly: Arial,Verdana;
	cursor: hand;
	cursor: pointer;
	background-color: transparent;
	text-decoration: none;
	padding-left: 24px;
	height: 17px;
}
.panelbarItemHover
{
	font-size: 11px; 
	color: #333333;
	width: 210px;
	font-familly: Arial,Verdana;
	cursor: hand;
	cursor: pointer;
	background-color: transparent;
	text-decoration: none;
	padding-left: 24px;
	height: 17px;
}

.outerPanelbar
{
	background-color: #fff;
	background-image: url(../Img/outerPanelbar.gif);
	background-repeat: repeat-y;
	border: 1px solid #cccccc;
	width: 210px;
}