body
{
}
.txtWizardBox
{
	FONT-SIZE: 10px;
    COLOR: #58777B;
    FONT-FAMILY: Verdana, Helvetica, Arial;
}

.txtWizardLabel
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #336699;
	text-decoration: none;
}

.SelectedText
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: red;
	text-decoration: none;
}

.lblStepRub
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #999999;
	text-decoration: none;
}


.pnlInfo
{
	border-right: red thin solid;
	border-bottom: red thin solid;

	border-top: #999999 thin solid;
	font-weight: normal;
	font-size: 10px;
	border-left: #999999 thin solid;
	color: black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}

.SelectedTextRub
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: red;
	text-decoration: none;
}
.NotSelectedText
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #336699;
	text-decoration: none;
}
   