<Menu>
	<Group Flow="Vertical">
		<Item Text="Select" LeftLogo="Spacer.gif" />
		<Item Text="Edit"  LeftLogo="Spacer.gif"/>
		<Item Text="Export To" PostBack="False" LeftLogo="Spacer.gif">
			<Group Flow="Vertical">
				<Item Text="Word" LeftLogo="Spacer.gif" />
				<Item Text="Excel" LeftLogo="Spacer.gif" />
			</Group>
		</Item>
	</Group>
</Menu>